* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 100svw;
    height: 100svh;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projFolder {
    width: 90%;
    height: 90%;
    border: 1px solid black;
}

.projectCard {
    width: 200px;
    height: 200px;
    background-color: white;
}