* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 100svw;
    height: 100svh;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projFolder {
    width: 90%;
    height: 90%;
    border: 1px solid black;
    display: flex;
}

.addButton {
    width: 100px;
    height: 100px;
}

#centerButton {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.projectCard {
    width: 200px;
    height: 200px;
    background-color: white;
}

.modal {
    width: 100svw;
    height: 100svh;
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.3);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.modalContainer {
    display: grid;
    grid-template: 1fr 8fr / 1fr;
    width: 80%;
    height: 80%;
    background-color: white;
    position: relative;
}

.isVisible {
    display: flex;
}

.isFadedIn {
    opacity: 1;
    transform: scale(1);
}

.exitButton {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-color: rgba(128, 128, 128, 0.50);
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.exitButton:hover {
    color: #000;
    background-color: rgba(128, 128, 128, 0.70);
}